.top-screen {
    background-image: url("../images/Sections background/header.jpg");
    box-shadow: inset 0 1200px 0 rgba(145, 145, 145, 0.4);
}

.navbar-wrapper {
    background-color: rgba(94, 93, 88, 0.6);

}

.navbar-container {
    margin: 0 auto;
    width: 1160px;
    padding: 0 20px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
    color: white;
    padding: 16px 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 40px;
}

.logo-text {
    font-size: 32px;
    color: white;
}

.logo-text-p2 {
    font-size: 32px;
    color: #18CFAB;
    font-weight: bold;
}

.navbar-menu {
    display: inline-block;
    vertical-align: middle;
    /*margin: 50px 0;*/
}

.navbar-menu-item {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 21px;
    padding: 50px 0;
    border: 2px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;

}

.margin-left-o {
    margin-left: 0;
}

.navbar-menu-item:hover {
    border-bottom: 2px solid #18CFAB;
}

.navbar-menu-item-link {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-menu-item-link:hover {
    color: #18CFAB;
}


.search-icon {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 20px;
    padding: 50px 0;
    border: 2px solid rgba(0, 0, 0, 0);;
}

.search-icon:hover {
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
}

.pr-about-section {
    font-family: 'Montserrat', 'Arial', sans-serif;
    text-align: center;

}

.pr-about-ham-is {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 265px;
}

.pr-about-ham-is-col {
    color: #18CFAB;
}

.pr-about-slogan {
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}

.pr-about-slogan2 {
    font-size: 34px;
    color: #D4D4D4;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 135px;
}

.button {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 20px 0;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    width: 170px;
    text-align: center;
    box-shadow: 0 -5px #ffffff;
    cursor: pointer;
}

.green-bgr {
    background-color: #18CFAB;
}

.blue-bgr {
    background-color: #00CBF6;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-btm-243 {
    margin-bottom: 243px;
}

.product-features-block {
    font-family: 'Montserrat', 'Arial', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 10px solid white;
}


.product-features-block div:nth-child(odd) {
    background-color: #1C2A33;
    color: #18CFAB;
    padding-top: 85px;
    padding-bottom: 110px;
}

.product-features-block div:nth-child(even) {
    background-color: #18CFAB;
    color: white;
    padding-top: 105px;
    padding-bottom: 110px;
}

.product-feature-item {
    text-align: center;
}

.product-feature-text {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 47px;
}

.services-block {
    font-family: 'Montserrat', 'Arial', sans-serif;
    text-align: center;
}

.services-block-heading {
    font-size: 36px;
    text-align: center;
    margin-top: 85px;
    position: relative;
    display: inline-block;
    margin-bottom: 100px;
    color: #4E4E4E;
}

.services-block-heading:after {
    content: '';
    width: 80px;
    border: 1px solid #18CFAB;
    position: absolute;
    top: 65px;
    right: 80px;
    box-shadow: 10px 5px #18CFAB;
}

.services-tabs-container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.services-tabs-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 30px;
}

.service-tab {
    padding: 28px 0;
    text-align: center;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
    /*text-align: center;*/
    color: #717171;
}

.service-tab.active {
    background-color: #18CFAB;
    color: white;
    position: relative;
    border: 1px solid #18CFAB;
}

.service-tab.active:after {
    content: '';
    width: 21px;
    height: 21px;
    background-color: #18CFAB;
    position: absolute;
    top: 59px;
    transform: rotate(45deg);
    left: 84px;
}

.service-tab:hover {
    border: 1px solid #18CFAB;
}

.service-tab-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 90px;
}

.service-image-wrapper img {
    width: 100%;
}

.service-text {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    text-align: left;
    padding-left: 10px;
    line-height: 24px;
}

.buy-section {
    background-image: url("../images/Sections background/section-2.jpg");
    /*background: url(rgba(0, 0, 0, 0.7) "../images/Sections background/section-2.jpg") center;*/
    background-position: center;
    font-family: 'Montserrat', 'Arial', sans-serif;
    text-align: center;
    box-shadow: inset 0 1200px 0 rgba(0, 0, 0, 0.7);

}

.buy-section-heading {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 130px;
}

.buy-section-subheading {
    margin-top: 40px;
    margin-bottom: 75px;
    color: #D8D8D8;
    font-size: 16px;
    text-align: center;
}

.margin-btm-130 {
    margin-bottom: 130px;
}

.work-examples-section {
    font-family: 'Montserrat', 'Arial', sans-serif;
    text-align: center;
    background-color: #E9EDEF;

}

.work-examples-section-heading {
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
    padding-top: 95px;
    padding-bottom: 100px;
    position: relative;
    display: inline-block;
}

.work-examples-section-heading:after {
    content: '';
    width: 80px;
    border: 1px solid #18CFAB;
    position: absolute;
    top: 160px;
    right: 130px;
    box-shadow: 10px 5px #18CFAB;

}

.work-categories-list {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.work-category-tab {
    display: inline-block;
    padding: 25px 15px;
    font-size: 14px;
    text-align: center;
    color: #717171;
    border: 1px solid #DADADA;
    cursor: pointer;

    /*min-width: fit-content;*/
}

.work-category-tab.active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.work-examples-block {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 1160px;
    margin: 70px auto 0 auto;
}

.work-example {
    position: relative;
    height: 100%;
}
.work-example-img {
    width: 100%;
}

.work-example-hov {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.work-example:hover .work-example-hov {
    display: block;
    border-top: 2px solid #18CFAB;
}


.example-hover-heading {
    color: #18CFAB;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.example-hover-cat {
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
    padding-bottom: 37px;
}

.icon-link {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.icon-stop {
    width: 40px;
    height: 40px;
}

.icons-wrapper {
    padding-top: 40px;
    padding-bottom: 30px;
}

.load-more-btn {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;

}

.plus {
    font-size: 32px;
    font-weight: bold;
    padding-right: 20px;
}

.load-more-btn-wrapper {
    padding-bottom: 100px;
    padding-top: 70px;
}

.hidden {
    display: none;
}

.act-content {

}

.act-hidden {
    display: none;
}

.news-section {
    font-family: 'Montserrat', 'Arial', sans-serif;
    text-align: center;

}

.news-section-heading {
    font-size: 36px;
    color: #4E4E4E;
    margin-top: 80px;
    position: relative;
    display: inline-block;
}

.news-section-heading:after {
    content: '';
    width: 80px;
    border: 1px solid #18CFAB;
    position: absolute;
    top: 60px;
    right: 105px;
    box-shadow: 10px 5px #18CFAB;
}

.news-block {
    width: 1160px;
    margin: 100px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 45px;
}

.news-item {
    position: relative;
    text-align: left;
}

.news-item:hover .news-item-date {
    background-color: #18CFAB;
}

.news-item:hover .news-item-name {
    color: #18CFAB;
}

.news-item-date {
    position: absolute;
    right: 1px;
    top: 0;
    background-color: #203E38;
    color: white;
    width: 65px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.news-item-name {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #717171;
    padding: 15px 0 15px 20px;
}

.news-item-author {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    padding: 15px 0 15px 20px;
}

.news-item-author:after {
    content: '';
    border-right: 1px solid #777777;
    height: 14px;
    position: relative;
    left: 20px;


}

.news-item-comments {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    padding: 15px 0 15px 40px;
}
/*--------------------------------------------------------------------------------------------------------------*/


.people-ham-section {
    background-image: url("../images/Sections background/section-3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 110%;
    height: 100%;
    position: relative;
    font-family: 'Montserrat', 'Arial', sans-serif;
   margin-top: 130px;
   padding-bottom: 65px;
    text-align: center;

}
.people-ham-heading {
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
    /*padding-bottom: 100px;*/
    position: relative;
    display: inline-block;
}

.people-ham-heading:after {
    content: '';
    width: 80px;
    border: 1px solid #18CFAB;
    position: absolute;
    top: 170px;
    right: 255px;
    box-shadow: 10px 5px #18CFAB;

}

.quotes-icon {
    /*margin-top: 100px;*/
    /*margin-bottom: 35px;*/
    display: block;
    margin: 100px auto 35px auto;
}

.people-citation {
    width: 1160px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    /*text-align: center;*/
    color: #BBBBBB;
    margin: 0 auto;
    height: max-content;
}

.people-name {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 37px;
    padding-bottom: 10px;

}

.people-job {
    font-weight: 300;
    font-size: 16px;
    /*text-align: center;*/
    color: #BBBBBB;
    margin: 0 auto;
    display: block;
}

.people-photo {
    width: 145px;
    height: 145px;
    margin-top: 50px;
    margin-bottom: 70px;
    box-shadow: 0 0 0 10px rgba(24, 207, 171, 0.2);
    border-radius: 50%;
}

.people-photo-small {
    box-shadow: 0 0 0 5px rgba(24, 207, 171, 0.2);
    border-radius: 50%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gallery-top {
    height: 80%;
    width: 100%;
}

.gallery-thumbs {
    height: 20%;
    width: 35%;
    box-sizing: border-box;
    padding: 15px 0 20px 0;
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
}

.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
    position: relative;
    bottom: 10px;
}

.swiper-button-white {
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
}

.swiper-button-white:after {

    font-size: 14px;
}

.swiper-button-white:hover {
    background-color: #18CFAB;
    color: #FFFFFF;
    border: 1px solid #18CFAB;
}

.swiper-slide {

}

.footer {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #AEAEAE;
    background: #22353F;
    padding: 50px 0 50px 0;
}

.footer-text-green {
    color: #18CFAB;
    word-spacing: 2px;
    padding-right: 5px;
}

.footer-text-green:after {
    content: '';
    border-right: 1px solid #777777;
    height: 14px;
    position: relative;
    /*right: 3px;*/
}